@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book


<div class="card card-header m-lg-5 p-5">
    <h5>
        Title: @Model.Title
        <span class="badge bage-pill badge-danger" style="float:initial">
            <h5>$@Model.Price</h5>
        </span>
    </h5>
    <span>
        <p class="d-inline-block text-lg-center">Author: @Model.AuthorFirstName</p>
        <p class="d-inline-block">@Model.AuthorLastName</p>
        <p class="font-weight-lighter">Category: @Model.Category</p>
    </span>

</div>